.home-container {
  margin: 0 80px;
  position: absolute;
  top: 30%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  &-image {
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: auto;
  }
}

.cropper {
  width: 150px;
  height: 150px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}

.right {
  margin-left: 50px;
  h2 {
    font-size: 2em;
  }
  h4 {
    font-size: 1.3em;
    font-weight: 300;
  }
}

.currently {
  padding-top: 40px;
}