// heighten, spectrum, screech, minesweeper
// featueres: image, link, excerpt

.main-projects-container {
  margin: 0 60px;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, 300px);
  justify-content: space-evenly;
  // flex-wrap: wrap;
}